.about-us {
    .objectives {
      background: top left no-repeat url("../images/bg-2.png");
    }
    .about-logo {
      background: #0c221f center no-repeat url("../images/demo-3.png");
      background-size: cover;
    }
  }